* {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: sans-serif;
            }

            body {
                min-height: 100vh;
                background-color: white;
            }

            .container {
                position: relative;
                width: 100vw;
                height: 100vh;
                overflow: hidden;
            }

            img {
                position: absolute;
                max-width: 150px;
                margin: auto;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);

                cursor: pointer;
                z-index: -1;
            }

            .container .row .collapse a {
                text-decoration: none;
                color: rgb(8, 0, 0);
                margin-right: 20px;

                transition-duration: 2s;
                animation-timing-function: ease-in-out;
                animation-delay: 2s;
                font-size: 14px;
            }

            .container .row .collapse a:hover {
                letter-spacing: 1px;
                color: black;
            }

            .contact-container {
                margin-top: 200px;
            }

            .contact-container p {
                margin-top: 120px;
                margin-right: 40px;
                text-align: justify;
                letter-spacing: 2px;
            }

            .container-fluid {
                margin-top: 200px;
            }

            .contato {
                color: black;
                background-color: aquamarine;
            }
            /* Adjust the styles for the contact section */
            .contact-section {
                margin-top: 100px;
            }

            /* Style the icons section */
            .icons-section {
                margin-top: 20px; /* Adjust as needed */
                background-color: blue;
            }

            .icons-section .icons {
                display: flex;
                justify-content: space-around;
            }

            .icons-section .icons a {
                text-decoration: none;
                color: rgb(36, 39, 38);
            }

            .address-container {
    margin-top: 200px; /* Adjust the value as needed */
}
           .contact-text p{
                    text-align: justify;
                   
                }

            @media (max-width: 991px) {
                img {
                    top: 30px;
                }

                .mapa{
                    width: 100vw;
                }

                
            }