*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: white;
}




.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    
}

img{
    position: absolute;
    max-width:140px;
    margin: auto; 
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    cursor: pointer;
    z-index: -1;
    
    


}





.container .row .collapse a{
    
    
    
  text-decoration: none;
    color: rgb(8, 0, 0);
    margin-right: 20px; 
    
    transition-duration: 2s;
    animation-timing-function: ease-in-out;
     animation-delay: 2s; 
    

}


.container .row .collapse a:hover {
    letter-spacing: 1px;
    color: black;  
    
}


.contact-container{
    margin-top: 200px;
}

.contact-container p{
    margin-top: 120px;
    margin-right: 40px;
text-align: justify;
letter-spacing: 2px;
}


@media (max-width: 768px) {
    
img{
    
    top: 30px;
    
}

}
