*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: white;
}




.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    
    
}

img{
    position: absolute;
    max-width:140px;
    margin: auto; 
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    cursor: pointer;
    z-index: -1;


}





.container .row .collapse a{
    
    
    
  text-decoration: none;
    color: rgb(8, 0, 0);
    margin-right: 20px; 
    transition-property: background-color, letter-spacing ;
    transition-duration: 2s;
    animation-timing-function: ease-in-out;
     animation-delay: 2s; 
    

}



.container .row .collapse a:hover {
    letter-spacing: 2px;
    color: black;
    
    
    
}


.container .row .big-image{
    margin-top: 80px;
    cursor: pointer !important;
    z-index: 2;
    
    
}

.container .row .small-image{
    margin-top: 650px;
    
    cursor: pointer !important;
    z-index: 2;
    border: none;  
}

.container .row .text {
    margin-top: 180px;
    font-size: smaller;
} 

.container .row .text .subt{
    margin-bottom: 50px;
}

.container .row .text h4, h1{

    font-weight: bold;
}

.container .row .big-image2{
    margin-top: 80px;
    cursor: pointer !important;
    z-index: 2;
    
    
}

.container .row .small-image2{
    margin-top: 650px;
    
    cursor: pointer !important;
    z-index: 2;
    border: none;  
}



@media (max-width: 768px) {
    .container .row .big-image{
    margin-top: 180px;
    cursor: pointer !important;
    z-index: 2;
    
    
}

.container{
    position: relative;
    width: 100vw;
    height: 110vh !important;
    overflow: hidden; 
    
}

.container .row .big-image{
    margin-top: 130px;
    
    
    
}

.container .row .small-image{
    margin-top: 330px;
     
}
.container .row .big-image2{
    margin-top: 130px;
    
    
    
}

.container .row .small-image2{
    margin-top: 330px;
     
}

img{
    
    top: 30px;
    
}
.container .row .text {
    margin-top: 80px;
    font-size: smaller;
} 

}